@tailwind base;
@tailwind components;
@tailwind utilities;

/* small app-level customizations */
html, body, #root {
  height: 100%;
}

body {
  background: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-max {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
